.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    text-align: center;
    padding: 20px;
    background-color: #e9eaec;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-container h1 {
    font-size: 2.5rem; /* Increase font size for better visibility */
    font-weight: bold; /* Make the text bold */
    color: #333; /* Set a default color for the heading */
    margin-bottom: 20px;
    text-transform: uppercase; /* Make the text uppercase */
    letter-spacing: 1px; /* Add spacing between letters */
}

.button-container h1 span {
    color: #00bbf0; /* Set the color for "Inspection" */
}

.button-container .stream-button {
    font-size: 1rem;
    padding: 12px 24px; /* Slightly larger padding for a more substantial button */
    color: #fff;
    background-color: #00bbf0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-container .stream-button:hover {
    background-color: #0057b3;
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.button-container p {
    font-size: 0.875rem;
    color: #666;
    margin-top: 10px;
}
